@import './_theme.css';
@import './_navbar.css';
@import './_tasks.css';
@import './_form.css';
@import './_controls.css';
@import './_modal.css';
@import './_responsive.css';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

html {
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
  color: var(--text-color);
}

body {
  background: var(--background);
  padding: 2rem;
  background-size: 300% 100%;
  animation: background-move var(--background-animation-duration) linear infinite alternate;
}

@keyframes background-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

main {
  flex: 1;
  max-width: 600px;
  margin: auto;
  width: 100%;
}

main div {
  backdrop-filter: blur(10px);
}